@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
html, body, h1, h2, h3, h4, p {
  margin: 0;
}

ul, li, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  border: none;
  vertical-align: top;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: #000;
}

h3 {
  font-size: 24px;
}

.center p {
  font-size: 150px;
  font-weight: 600;
}

.center span {
  font-size: 150px;
  font-weight: 200;
}

.txt {
  margin-bottom: 8%;
}

.txt b {
  color: #797979;
  font-weight: 500;
}

.txt p {
  font-size: 20px;
  margin-bottom: 2%;
}

.txt p span {
  display: inline-block;
  margin-left: 2%;
}

.txt span {
  color: #797979;
  line-height: 1.6;
}

.des p {
  font-size: 24px;
}

::-moz-selection {
  background-color: #000;
  color: #fff;
}

::selection {
  background-color: #000;
  color: #fff;
}

html, body {
  overflow: scroll;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

main {
  overflow-x: hidden;
  width: 100%;
}

main .cover {
  width: 100%;
  margin: 9.5% auto;
  position: relative;
}

main .cover .center {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

main .cover .center p:nth-of-type(1) {
  -webkit-animation: cover1 1s linear forwards;
          animation: cover1 1s linear forwards;
}

@-webkit-keyframes cover1 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
}

@keyframes cover1 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
}

main .cover .center p:nth-of-type(2) {
  -webkit-animation: cover2 1s linear forwards;
          animation: cover2 1s linear forwards;
}

@-webkit-keyframes cover2 {
  0% {
    -webkit-transform: translate(-100%, -40%);
            transform: translate(-100%, -40%);
  }
  100% {
    -webkit-transform: translate(18%, -40%);
            transform: translate(18%, -40%);
  }
}

@keyframes cover2 {
  0% {
    -webkit-transform: translate(-100%, -40%);
            transform: translate(-100%, -40%);
  }
  100% {
    -webkit-transform: translate(18%, -40%);
            transform: translate(18%, -40%);
  }
}

main .cover .center span {
  display: block;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  -webkit-animation: cover3 5s forwards;
          animation: cover3 5s forwards;
}

@-webkit-keyframes cover3 {
  0% {
    opacity: 0;
  }
}

@keyframes cover3 {
  0% {
    opacity: 0;
  }
}

main .cover .left {
  position: absolute;
  left: 33%;
  top: 68%;
  -webkit-animation: cover4 8s forwards;
          animation: cover4 8s forwards;
}

@-webkit-keyframes cover4 {
  0% {
    opacity: 0;
  }
}

@keyframes cover4 {
  0% {
    opacity: 0;
  }
}

main .cover .right {
  position: absolute;
  right: 18%;
  top: 40%;
  -webkit-animation: cover4 8s forwards;
          animation: cover4 8s forwards;
}

main .cover .right span {
  display: block;
  width: 260px;
  padding-left: 20%;
}

@keyframes cover4 {
  0% {
    opacity: 0;
  }
}

main .sub-header {
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 20px 20px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 20px 20px 20px rgba(0, 0, 0, 0.05);
}

main .sub-header.sticky {
  width: 100%;
  position: fixed;
  top: 0;
}

main .sub-header.black {
  background-color: #000;
}

main .sub-header.black span {
  background-color: #fff;
}

main .sub-header.black nav a {
  color: #fff;
}

main .sub-header span {
  display: block;
  height: 2px;
  background-color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .sub-header nav a {
  display: inline-block;
  margin: 1% 0 1% 6%;
  padding-bottom: 0.5%;
}

main .sub-header nav a.active {
  font-weight: 500;
}

main .cont .about {
  width: 80%;
  margin: 0 auto;
  padding-top: 10%;
}

main .cont .about .me {
  margin: 10% auto 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .cont .about .me p {
  font-size: 24px;
}

main .cont .about .edu {
  width: 50%;
  margin-bottom: 10%;
  -webkit-transform: translateX(90%);
          transform: translateX(90%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .cont .about .exp .des {
  margin: 2% 0 6%;
}

main .cont .about .exp .txt {
  margin-bottom: 3%;
}

main .cont .about .exp .txt p {
  margin-bottom: 1%;
}

main .cont .about .exp .txt p span {
  margin-left: 0.5%;
}

main .cont .about .ski {
  margin: 20% auto;
}

main .cont .about .ski .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .cont .about .ski .center p {
  margin-right: 1%;
}

main .cont .about .ski h2 {
  font-size: 64px;
  margin: 2% auto;
  white-space: nowrap;
  -webkit-animation: letter 16s linear infinite;
          animation: letter 16s linear infinite;
}

@-webkit-keyframes letter {
  0% {
    -webkit-transform: translateX(16%);
            transform: translateX(16%);
  }
  100% {
    -webkit-transform: translateX(-160%);
            transform: translateX(-160%);
  }
}

@keyframes letter {
  0% {
    -webkit-transform: translateX(16%);
            transform: translateX(16%);
  }
  100% {
    -webkit-transform: translateX(-160%);
            transform: translateX(-160%);
  }
}

main .cont .about .ski .des {
  margin: 10% 0;
  -webkit-transform: translateX(12%);
          transform: translateX(12%);
}

main .cont .about .ski .des p {
  font-size: 36px;
}

main .cont .about .ski ul {
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .cont .about .ski ul li {
  width: 40%;
  margin-bottom: 4%;
}

main .cont .about .ski ul li span {
  font-size: 18px;
  display: block;
}

main .cont .about .ski ul li span::before {
  content: '-';
}

main .cont .pro {
  width: 100%;
  margin: 0 auto;
  padding: 5% 5% 10%;
  background-color: #000;
  -webkit-box-shadow: 40px 40px 40px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 40px 40px 40px 40px rgba(0, 0, 0, 0.5);
}

main .cont .pro .center p, main .cont .pro .center span {
  color: #fff;
}

main .cont .pro .center span {
  font-size: 24px;
  font-weight: 400;
}

main .cont .pro .slide {
  position: relative;
  margin-top: 4%;
}

main .cont .pro .slide ul {
  position: absolute;
  left: 54%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .cont .pro .slide ul li {
  margin-right: 4%;
  width: 25vw;
}

main .cont .pro .slide ul li .slide-img {
  overflow: hidden;
}

main .cont .pro .slide ul li .slide-img:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-filter: saturate(1);
          filter: saturate(1);
}

main .cont .pro .slide ul li img {
  width: 100%;
  height: 100%;
  -webkit-filter: saturate(0);
          filter: saturate(0);
}

main .cont .pro .slide ul li span, main .cont .pro .slide ul li p {
  color: #fff;
}

main .cont .pro .slide ul li span {
  font-weight: 300;
  display: block;
  margin: 2% 0 1%;
}

main .cont .pro .slide ul li p {
  font-size: 24px;
  font-weight: 400;
}

main .cont .end {
  width: 90%;
  margin: 0 auto;
  padding-top: 20%;
}

main .cont .end .main {
  margin: 0 auto 20%;
}

main .cont .end .main p {
  font-size: 150px;
  text-align: center;
}

main .cont .end .main p:nth-of-type(1) {
  font-weight: 100;
  -webkit-transform: rotate(-15deg) translateX(30%);
          transform: rotate(-15deg) translateX(30%);
}

main .cont .end .main p:nth-of-type(2) {
  font-weight: 300;
  -webkit-transform: rotate(15deg) translateX(-30%);
          transform: rotate(15deg) translateX(-30%);
}

main .cont .end .main p:nth-of-type(3) {
  font-weight: 400;
  -webkit-transform: rotate(165deg);
          transform: rotate(165deg);
}

main .cont .end .main p:nth-of-type(4) {
  font-weight: 500;
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
}

main .cont .end .main.active p {
  -webkit-transform: none;
          transform: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

main .cont .end ul {
  text-align: center;
}

footer {
  width: 90%;
  margin: 30% auto 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .center p {
  font-size: 120px;
}

footer ul {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer ul li .txt p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 4%;
}

footer ul li .txt span, footer ul li .txt a {
  color: #797979;
}

.layer-popup {
  overflow-y: scroll;
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.layer-popup.active {
  display: block;
}

.layer-popup::-webkit-scrollbar {
  display: none;
}

.layer-popup .popup {
  margin: 0 auto;
  padding: 4%;
  width: 90%;
  background-color: #000;
}

.layer-popup .popup p, .layer-popup .popup span, .layer-popup .popup a {
  color: #fff;
}

.layer-popup .popup .close {
  text-align: right;
  font-size: 20px;
  margin-bottom: 4%;
}

.layer-popup .popup .title span {
  font-weight: 100;
}

.layer-popup .popup .title p {
  font-size: 24px;
  font-weight: 500;
}

.layer-popup .popup .overview {
  margin: 5% 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layer-popup .popup .overview .main-img {
  width: 60%;
}

.layer-popup .popup .overview .main-img img {
  width: 100%;
}

.layer-popup .popup .overview .text {
  width: 36%;
}

.layer-popup .popup .overview .text ul li {
  margin-bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layer-popup .popup .overview .text ul li p {
  font-weight: 500;
  width: 40%;
}

.layer-popup .popup .overview .text ul li span {
  font-size: 14px;
}

.layer-popup .popup .overview .text ul li:last-of-type {
  margin: 10% 0 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.layer-popup .popup .overview .text ul li:last-of-type p {
  margin-bottom: 3%;
}

.layer-popup .popup .overview .text a {
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
}

.layer-popup .popup .detail {
  margin: 0 auto;
}

.layer-popup .popup .detail img {
  width: 100%;
  margin: 5% 0 10%;
}

.layer-popup .popup .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=index.css.map */